@import "tailwindcss";
@import "../styles/material-ripple.css";

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url("/fonts/mdi.woff2") format("woff2");
}

@font-face {
  font-family: "Material Symbols Filled";
  font-style: normal;
  src: url("/fonts/mdt-filled.woff2") format("woff2");
}

:root {
  --md-sys-color-primary: rgb(132 84 29);
  --md-sys-color-surface-tint: rgb(132 84 29);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(248 184 120);
  --md-sys-color-on-primary-container: rgb(116 71 16);
  --md-sys-color-secondary: rgb(116 89 64);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(253 217 185);
  --md-sys-color-on-secondary-container: rgb(120 94 68);
  --md-sys-color-tertiary: rgb(92 99 34);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(195 203 126);
  --md-sys-color-on-tertiary-container: rgb(79 86 22);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 248 245);
  --md-sys-color-on-background: rgb(32 27 22);
  --md-sys-color-surface: rgb(255 248 245);
  --md-sys-color-on-surface: rgb(32 27 22);
  --md-sys-color-surface-variant: rgb(242 223 208);
  --md-sys-color-on-surface-variant: rgb(81 68 58);
  --md-sys-color-outline: rgb(131 116 104);
  --md-sys-color-outline-variant: rgb(213 195 181);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(53 47 42);
  --md-sys-color-inverse-on-surface: rgb(250 239 231);
  --md-sys-color-inverse-primary: rgb(250 186 122);
  --md-sys-color-primary-fixed: rgb(255 220 190);
  --md-sys-color-on-primary-fixed: rgb(44 22 0);
  --md-sys-color-primary-fixed-dim: rgb(250 186 122);
  --md-sys-color-on-primary-fixed-variant: rgb(104 61 5);
  --md-sys-color-secondary-fixed: rgb(255 220 190);
  --md-sys-color-on-secondary-fixed: rgb(42 24 5);
  --md-sys-color-secondary-fixed-dim: rgb(227 192 161);
  --md-sys-color-on-secondary-fixed-variant: rgb(90 66 43);
  --md-sys-color-tertiary-fixed: rgb(225 233 153);
  --md-sys-color-on-tertiary-fixed: rgb(26 30 0);
  --md-sys-color-tertiary-fixed-dim: rgb(196 204 127);
  --md-sys-color-on-tertiary-fixed-variant: rgb(68 75 10);
  --md-sys-color-surface-dim: rgb(227 216 208);
  --md-sys-color-surface-bright: rgb(255 248 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(253 241 234);
  --md-sys-color-surface-container: rgb(247 236 228);
  --md-sys-color-surface-container-high: rgb(242 230 222);
  --md-sys-color-surface-container-highest: rgb(236 224 217);
  --md-state-layers-primary-opacity-008: rgba(132, 84, 29, 0.08);
  --md-state-layers-primary-opacity-012: rgba(132, 84, 29, 0.12);
  --md-state-layers-primary-opacity-016: rgba(132, 84, 29, 0.16);
  --md-state-layers-surface-tint-opacity-008: rgba(132, 84, 29, 0.08);
  --md-state-layers-surface-tint-opacity-012: rgba(132, 84, 29, 0.12);
  --md-state-layers-surface-tint-opacity-016: rgba(132, 84, 29, 0.16);
  --md-state-layers-on-primary-opacity-008: rgba(255, 255, 255, 0.08);
  --md-state-layers-on-primary-opacity-012: rgba(255, 255, 255, 0.12);
  --md-state-layers-on-primary-opacity-016: rgba(255, 255, 255, 0.16);
  --md-state-layers-primary-container-opacity-008: rgba(248, 184, 120, 0.08);
  --md-state-layers-primary-container-opacity-012: rgba(248, 184, 120, 0.12);
  --md-state-layers-primary-container-opacity-016: rgba(248, 184, 120, 0.16);
  --md-state-layers-on-primary-container-opacity-008: rgba(116, 71, 16, 0.08);
  --md-state-layers-on-primary-container-opacity-012: rgba(116, 71, 16, 0.12);
  --md-state-layers-on-primary-container-opacity-016: rgba(116, 71, 16, 0.16);
  --md-state-layers-secondary-opacity-008: rgba(116, 89, 64, 0.08);
  --md-state-layers-secondary-opacity-012: rgba(116, 89, 64, 0.122);
  --md-state-layers-secondary-opacity-016: rgba(116, 89, 64, 0.16);
  --md-state-layers-on-secondary-opacity-008: rgba(255, 255, 255, 0.08);
  --md-state-layers-on-secondary-opacity-012: rgba(255, 255, 255, 0.12);
  --md-state-layers-on-secondary-opacity-016: rgba(255, 255, 255, 0.16);
  --md-state-layers-secondary-container-opacity-008: rgba(253, 217, 185, 0.08);
  --md-state-layers-secondary-container-opacity-012: rgba(253, 217, 185, 0.12);
  --md-state-layers-secondary-container-opacity-016: rgba(253, 217, 185, 0.16);
  --md-state-layers-on-secondary-container-opacity-008: rgba(120, 94, 68, 0.08);
  --md-state-layers-on-secondary-container-opacity-012: rgba(120, 94, 68, 0.12);
  --md-state-layers-on-secondary-container-opacity-016: rgba(120, 94, 68, 0.16);
  --md-state-layers-tertiary-opacity-008: rgba(92, 99, 34, 0.08);
  --md-state-layers-tertiary-opacity-012: rgba(92, 99, 34, 0.12);
  --md-state-layers-tertiary-opacity-016: rgba(92, 99, 34, 0.16);
  --md-state-layers-on-tertiary-opacity-008: rgba(255, 255, 255, 0.08);
  --md-state-layers-on-tertiary-opacity-012: rgba(255, 255, 255, 0.12);
  --md-state-layers-on-tertiary-opacity-016: rgba(255, 255, 255, 0.16);
  --md-state-layers-tertiary-container-opacity-008: rgba(195, 203, 126, 0.08);
  --md-state-layers-tertiary-container-opacity-012: rgba(195, 203, 126, 0.12);
  --md-state-layers-tertiary-container-opacity-016: rgba(195, 203, 126, 0.16);
  --md-state-layers-on-tertiary-container-opacity-008: rgba(79, 86, 22, 0.08);
  --md-state-layers-on-tertiary-container-opacity-012: rgba(79, 86, 22, 0.12);
  --md-state-layers-on-tertiary-container-opacity-016: rgba(79, 86, 22, 0.16);
  --md-state-layers-error-opacity-008: rgba(186, 26, 26, 0.08);
  --md-state-layers-error-opacity-012: rgba(186, 26, 26, 0.1);
  --md-state-layers-error-opacity-016: rgba(186, 26, 26, 0.16);
  --md-state-layers-on-error-opacity-008: rgba(255, 255, 255, 0.08);
  --md-state-layers-on-error-opacity-012: rgba(255, 255, 255, 0.1);
  --md-state-layers-on-error-opacity-016: rgba(255, 255, 255, 0.16);
  --md-state-layers-error-container-opacity-008: rgba(255, 218, 214, 0.08);
  --md-state-layers-error-container-opacity-012: rgba(255, 218, 214, 0.1);
  --md-state-layers-error-container-opacity-016: rgba(255, 218, 214, 0.16);
  --md-state-layers-on-error-container-opacity-008: rgba(147, 0, 10, 0.08);
  --md-state-layers-on-error-container-opacity-012: rgba(147, 0, 10, 0.12);
  --md-state-layers-on-error-container-opacity-016: rgba(147, 0, 10, 0.16);
  --md-state-layers-background-opacity-008: rgba(255, 248, 245, 0.08);
  --md-state-layers-background-opacity-012: rgba(255, 248, 245, 0.12);
  --md-state-layers-background-opacity-016: rgba(255, 248, 245, 0.16);
  --md-state-layers-on-background-opacity-008: rgba(32, 27, 22, 0.08);
  --md-state-layers-on-background-opacity-012: rgba(32, 27, 22, 0.12);
  --md-state-layers-on-background-opacity-016: rgba(32, 27, 22, 0.16);
  --md-state-layers-surface-opacity-008: rgba(255, 248, 245, 0.08);
  --md-state-layers-surface-opacity-012: rgba(255, 248, 245, 0.12);
  --md-state-layers-surface-opacity-016: rgba(255, 248, 245, 0.16);
  --md-state-layers-on-surface-opacity-008: rgba(32, 27, 22, 0.08);
  --md-state-layers-on-surface-opacity-012: rgba(32, 27, 22, 0.12);
  --md-state-layers-on-surface-opacity-016: rgba(32, 27, 22, 0.16);
  --md-state-layers-surface-variant-opacity-008: rgba(242, 223, 208, 0.08);
  --md-state-layers-surface-variant-opacity-012: rgba(242, 223, 208, 0.12);
  --md-state-layers-surface-variant-opacity-016: rgba(242, 223, 208, 0.16);
  --md-state-layers-on-surface-variant-opacity-008: rgba(81, 68, 58, 0.08);
  --md-state-layers-on-surface-variant-opacity-012: rgba(81, 68, 58, 0.12);
  --md-state-layers-on-surface-variant-opacity-016: rgba(81, 68, 58, 0.16);
  --md-state-layers-outline-opacity-008: rgba(131, 116, 104, 0.08);
  --md-state-layers-outline-opacity-012: rgba(131, 116, 104, 0.12);
  --md-state-layers-outline-opacity-016: rgba(131, 116, 104, 0.16);
  --md-state-layers-outline-variant-opacity-008: rgba(213, 195, 181, 0.08);
  --md-state-layers-outline-variant-opacity-012: rgba(213, 195, 181, 0.12);
  --md-state-layers-outline-variant-opacity-016: rgba(213, 195, 181, 0.16);
  --md-state-layers-shadow-opacity-008: rgba(0, 0, 0, 0.08);
  --md-state-layers-shadow-opacity-012: rgba(0, 0, 0, 0.12);
  --md-state-layers-shadow-opacity-016: rgba(0, 0, 0, 0.16);
  --md-state-layers-scrim-opacity-008: rgba(0, 0, 0, 0.08);
  --md-state-layers-scrim-opacity-012: rgba(0, 0, 0, 0.12);
  --md-state-layers-scrim-opacity-016: rgba(0, 0, 0, 0.16);
  --md-state-layers-inverse-surface-opacity-008: rgba(53, 47, 42, 0.08);
  --md-state-layers-inverse-surface-opacity-012: rgba(53, 47, 42, 0.12);
  --md-state-layers-inverse-on-surface-opacity-016: rgba(250, 239, 231, 0.16);
  --md-state-layers-inverse-primary-opacity-008: rgba(250, 186, 122, 0.08);
  --md-state-layers-inverse-primary-opacity-012: rgba(250, 186, 122, 0.12);
  --md-state-layers-inverse-primary-opacity-016: rgba(250, 186, 122, 0.16);
  --md-state-layers-primary-fixed-opacity-008: rgba(255, 220, 190, 0.08);
  --md-state-layers-primary-fixed-opacity-012: rgba(255, 220, 190, 0.12);
  --md-state-layers-primary-fixed-opacity-016: rgba(255, 220, 190, 0.16);
  --md-state-layers-on-primary-fixed-opacity-008: rgba(44, 22, 0, 0.08);
  --md-state-layers-on-primary-fixed-opacity-012: rgba(44, 22, 0, 0.12);
  --md-state-layers-on-primary-fixed-opacity-016: rgba(44, 22, 0, 0.16);
  --md-state-layers-primary-fixed-dim-opacity-008: rgba(250, 186, 122, 0.08);
  --md-state-layers-primary-fixed-dim-opacity-012: rgba(250, 186, 122, 0.12);
  --md-state-layers-primary-fixed-dim-opacity-016: rgba(250, 186, 122, 0.16);
  --md-state-layers-on-primary-fixed-variant-opacity-008: rgba(104, 61, 5, 0.08);
  --md-state-layers-on-primary-fixed-variant-opacity-012: rgba(104, 61, 5, 0.12);
  --md-state-layers-on-primary-fixed-variant-opacity-016: rgba(104, 61, 5, 0.16);
  --md-state-layers-secondary-fixed-opacity-008: rgba(255, 220, 190, 0.08);
  --md-state-layers-secondary-fixed-opacity-012: rgba(255, 220, 190, 0.12);
  --md-state-layers-secondary-fixed-opacity-016: rgba(255, 220, 190, 0.16);
  --md-state-layers-on-secondary-fixed-opacity-008: rgba(42, 24, 5, 0.08);
  --md-state-layers-on-secondary-fixed-opacity-012: rgba(42, 24, 5, 0.12);
  --md-state-layers-on-secondary-fixed-opacity-016: rgba(42, 24, 5, 0.16);
  --md-state-layers-secondary-fixed-dim-opacity-008: rgba(227, 192, 161, 0.08);
  --md-state-layers-secondary-fixed-dim-opacity-012: rgba(227, 192, 161, 0.1);
  --md-state-layers-secondary-fixed-dim-opacity-016: rgba(227, 192, 161, 0.16);
  --md-state-layers-on-secondary-fixed-variant-opacity-008: rgba(90, 66, 43, 0.08);
  --md-state-layers-on-secondary-fixed-variant-opacity-012: rgba(90, 66, 43, 0.12);
  --md-state-layers-on-secondary-fixed-variant-opacity-016: rgba(90, 66, 43, 0.16);
  --md-state-layers-tertiary-fixed-opacity-008: rgba(225, 233, 153, 0.08);
  --md-state-layers-tertiary-fixed-opacity-012: rgba(225, 233, 153, 0.12);
  --md-state-layers-tertiary-fixed-opacity-016: rgba(225, 233, 153, 0.16);
  --md-state-layers-on-tertiary-fixed-opacity-008: rgba(26, 30, 0, 0.08);
  --md-state-layers-on-tertiary-fixed-opacity-012: rgba(26, 30, 0, 0.12);
  --md-state-layers-on-tertiary-fixed-opacity-016: rgba(26, 30, 0, 0.16);
  --md-state-layers-tertiary-fixed-dim-opacity-008: rgba(196, 204, 127, 0.08);
  --md-state-layers-tertiary-fixed-dim-opacity-012: rgba(196, 204, 127, 0.12);
  --md-state-layers-tertiary-fixed-dim-opacity-016: rgba(196, 204, 127, 0.16);
  --md-state-layers-on-tertiary-fixed-variant-opacity-008: rgba(68, 75, 10, 0.08);
  --md-state-layers-on-tertiary-fixed-variant-opacity-012: rgba(68, 75, 10, 0.12);
  --md-state-layers-on-tertiary-fixed-variant-opacity-016: rgba(68, 75, 10, 0.16);
  --md-state-layers-surface-dim-opacity-008: rgba(227, 216, 208, 0.08);
  --md-state-layers-surface-dim-opacity-012: rgba(227, 216, 208, 0.12);
  --md-state-layers-surface-dim-opacity-016: rgba(227, 216, 208, 0.16);
  --md-state-layers-surface-bright-opacity-008: rgba(255, 248, 245, 0.08);
  --md-state-layers-surface-bright-opacity-012: rgba(255, 248, 245, 0.12);
  --md-state-layers-surface-bright-opacity-016: rgba(255, 248, 245, 0.16);
  --md-state-layers-surface-container-lowest-opacity-008: rgba(255, 255, 255, 0.08);
  --md-state-layers-surface-container-lowest-opacity-012: rgba(255, 255, 255, 0.12);
  --md-state-layers-surface-container-lowest-opacity-016: rgba(255, 255, 255, 0.16);
  --md-state-layers-surface-container-low-opacity-008: rgba(253, 241, 234, 0.08);
  --md-state-layers-surface-container-low-opacity-012: rgba(253, 241, 234, 0.12);
  --md-state-layers-surface-container-low-opacity-016: rgba(253, 241, 234, 0.16);
  --md-state-layers-surface-container-opacity-008: rgba(247, 236, 228, 0.08);
  --md-state-layers-surface-container-opacity-012: rgba(247, 236, 228, 0.12);
  --md-state-layers-surface-container-opacity-016: rgba(247, 236, 228, 0.16);
  --md-state-layers-surface-container-high-opacity-008: rgba(242, 230, 222, 0.08);
  --md-state-layers-surface-container-high-opacity-012: rgba(242, 230, 222, 0.12);
  --md-state-layers-surface-container-high-opacity-016: rgba(242, 230, 222, 0.16);
  --md-state-layers-surface-container-highest-opacity-008: rgba(236, 224, 217, 0.08);
  --md-state-layers-surface-container-highest-opacity-012: rgba(236, 224, 217, 0.12);
  --md-state-layers-surface-container-highest-opacity-016: rgba(236, 224, 217, 0.16);
}

.mdi {
  font-family: "Material Symbols Outlined", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  text-transform: none;
}

.mdt-filled {
  font-family: "Material Symbols Filled", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  text-transform: none;
}